[VPP-719] ARP resolution of VRRP virtual router IP fails

### Description
When I connect VPP to an upstream router that uses VRRP for redundancy and set the default route to the virtual IP address used by the VRRP virtual router, VPP sends an ARP request for that IP address and then drops the replies that it receives. A trace shows an error message saying "ARP hw addr does not match L2 frame src addr”.


A check is performed in arp_input (src/vnet/ethernet/arp.c, around line 1117) that compares the source address of the ethernet frame to the sender hardware address in the ARP packet and drops the packet if they don't match. ARP replies for VRRP (or CARP) virtual IPv4 addresses should always fail this check. The mismatch between the ARP sender hw address and the ethernet frame source address is expected in an RFC-compliant VRRP implementation according to section 8.1.2 of RFC 5798 (<a href="https://tools.ietf.org/html/rfc5798#section-8.1.2" class="external-link" target="_blank" rel="nofollow noopener">https://tools.ietf.org/html/rfc5798#section-8.1.2</a>).

### Assignee
Unassigned

### Reporter
Matthew Smith

### Comments
- **nranns (Wed, 3 May 2017 20:20:21 +0000)**: we appear to be missing a wiki for that...


<p>in the top level directory do;

  make test-debug</p>

<p>to run individual tests do

  make test-debug TEST=<FILE>

or

  make test-debug TEST=<FILE>.<CLASS>

or

  make test-debug TEST=<FILE>.<CLASS>,<FUNCTION>

if you need to attach GDB to VPP while the tests are executing add: DEBUG=gdb. For verbose output add V=2.</p>

<p>the test files themselvs are are in:

  <ROOT>/test/test*.py</p>
- **mgsmith (Wed, 3 May 2017 19:37:09 +0000)**: I attached a patch that checks the ARP sender hw address to see if the first 5 bytes match the reserved VRRP on IPv4 address range (00:00:5e:00:01) and doesn't generate the mismatch error if they match. I've tested it and it worked for me.


I can submit it to gerrit if you think it's ok. I'm not familiar with VPP's unit testing. Where would I look for more information on that?
- **nranns (Tue, 2 May 2017 17:14:21 +0000)**: I suggest we remove the check then, unless there is another way to determine this is a VRRP scenario.


please update the unit tests accordingly so that they test for a success full outcome in this case.

Original issue: https://jira.fd.io/browse/VPP-719

<p>we appear to be missing a wiki for that...</p>

<p>in the top level directory do;<br/>
  make test-debug</p>

<p>to run individual tests do<br/>
  make test-debug TEST=&lt;FILE&gt;<br/>
or<br/>
  make test-debug TEST=&lt;FILE&gt;.&lt;CLASS&gt;<br/>
or<br/>
  make test-debug TEST=&lt;FILE&gt;.&lt;CLASS&gt;,&lt;FUNCTION&gt;<br/>
if you need to attach GDB to VPP while the tests are executing add: DEBUG=gdb. For verbose output add V=2.</p>

<p>the test files themselvs are are in:<br/>
  &lt;ROOT&gt;/test/test*.py</p>

<p>I attached a patch that checks the ARP sender hw address to see if the first 5 bytes match the reserved VRRP on IPv4 address range (00:00:5e:00:01) and doesn't generate the mismatch error if they match. I've tested it and it worked for me.</p>

<p>I can submit it to gerrit if you think it's ok. I'm not familiar with VPP's unit testing. Where would I look for more information on that?</p>

<p>I suggest we remove the check then, unless there is another way to determine this is a VRRP scenario.</p>

<p>please update the unit tests accordingly so that they test for a success full outcome in this case.</p>